@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body, #app {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

#loading {
	font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;

	> .msg { max-width: 50%; }
}
