<!DOCTYPE html>
<html>
  <head>
    <title>Wallet One</title>
		<link rel="stylesheet" href="styles/main.css" />
		<script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
			<% if (config.bundle) { %>	
			System.config({
				bundles: { 'bundle': ['scripts/main.js'] }
			});
			<% } %>

      System.config({
        bundles: {'vendor.bundle': [
          "react",
          "react-dom",
          "react-router",
          "react-tap-event-plugin",
          "redux",
          "react-redux",
          "lodash",
          "material-ui",
        ]}
      }) 
      System.import('scripts/main.js');
    </script>
  </head>
  <body>
		<div id="app">
			<div id="loading">
				<span class="msg">Loading...</span>
			</div>
		</div>
  </body>
</html>
